/* ===============================
   Base Styles 
================================ */

* { 
    box-sizing: border-box;
  }


body {
    background-color: #f5f7f9;
    color: #363c41;
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1, 
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
}

h3 {
  font-size: 1.6em;
}

h2,
ul li {
  text-transform: uppercase;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* ===============================
   Base Layout Styles 
================================ */

/* ---- Navigation ---- */

.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav li {
  font-weight: bold;
  background-color: white;
  padding: 15px;
  margin-bottom: 7px;
}

.main-nav li:hover {
  background: tomato;
  color: white;
}

.main-nav a {
  display:block;
}


/* ---- Containers ---- */

.main-header,
.contact-details {
  padding: 30px 15px;
}

.main-header p,
.contact-details p {
  font-size: 1.2em;
  padding-top: 10px;
}

.profile-pic {
  width: 70%;
  margin-top: 20px;
}

.container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container img {
  width: 90%;
}

.container p {
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.skill-set-one li {
  display: inline-block;
  background-color: #166FBC;
  color: white;
  padding: 20px;
  margin-right: 20px;
}

.skill-set-two li {
  display: inline-block;
  background-color: #16BCB6;
  color: white;
  padding: 20px;
  margin-right: 20px;
}

.skill-set-one li:hover,
.skill-set-two li:hover {
  transform: scale(1.2);
}

.details {
  padding-left: 10px;
  font-weight: bold;
}

/* ==================================
 This is where I am struggling!! 
 ================================== */

footer h2 {
  float: left;
  padding-left: 20px;
}

.name {
  text-transform: capitalize;
}

.footer-nav {
  text-align: right;
  display: inline-block;
}

.footer-nav li {
  margin-right: 20px;
}

.top,
.footer-nav li:last-child {
  margin-right: 0;
}

.full {
  display: none;
}

/* ===============================
   Media Queries 
================================ */