/* ===============================
   Base Styles 
================================ */

* { 
    box-sizing: border-box;
  }

h1 {
  margin: 0;
}

h1, h2, header, footer {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #363c41;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
  color: #363c41;
} 

img {
  width: 100%;
}

/* ===============================
   Base Layout Styles 
================================ */

/* ---- Navigation ---- */

.wrapper {
  background-color: #f5f7f9;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.main-header {
  padding: 1em 0;
}

.container {

}

.projects {
  background-color: white;
}

/* ---- Containers ---- */






/* ===============================
   Media Queries 
================================ */





