/* ===============================
   Base Styles 
================================ */

* { 
    box-sizing: border-box;
  }

body {
    background-color: #f5f7f9;
    color: #363c41;
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
}

h1, 
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.6em;
}

h2,
ul li {
  text-transform: uppercase;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}


/* ===============================
   Base Layout Styles 
================================ */

/* ---- Navigation ---- */

.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav li {
  font-weight: bold;
  background-color: white;
  padding: 15px;
  margin-bottom: 7px;
}

.main-nav li:hover {
  background: tomato;
  color: white;
}

.main-nav a {
  display:block;
}

/* ---- Containers ---- */

.main-header,
.contact-details {
  padding: 30px 15px;
}

.main-header p,
.contact-details p {
  font-size: 1.2em;
  padding-top: 10px;
}

.profile-pic {
  width: 70%;
  margin-top: 20px;
}

.container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container img {
  width: 90%;
}

.container p {
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.skill-set-one li {
  display: inline-block;
  background-color: #166FBC;
  color: white;
  padding: 20px;
  margin-right: 20px;
}

.skill-set-two li {
  display: inline-block;
  background-color: #16BCB6;
  color: white;
  padding: 20px;
  margin-right: 20px;
}

.skill-set-one li:hover,
.skill-set-two li:hover {
  transform: scale(1.2);
}

.details {
  padding-left: 10px;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer h2 {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 0;
}

.name {
  text-transform: capitalize;
}

.footer-nav {
  text-align: right;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav li:hover {
  font-weight: bold;
  color: tomato;
}

.top,
.footer-nav li:last-child {
  margin-right: 10px;
}

.full {
  display: none;
}

/* ===============================
   Media Queries 
================================ */

@media (min-width: 768px) {

  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .main-header,
  .contact-details {
    width: 90%;
    margin: 0 auto;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 20px;
    background-color: inherit;
  }

  .profile-pic {
    float: right;
    width: 40%;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  header p {
    float: right;
    width: 60%;
    text-align: left;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    float: left; 
    width: 50%;   
  }

  .skills-section {
    clear: both;
  }

  .top {
    display: none;
  }

  .full {
    display: inline-block;
  }

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

  .wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
  }

  h1 {
    float: left;
  }

  .main-nav {
    float: right;
    padding: 0;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
    background-color: inherit;
  }

  .main-nav li:last-child {
    margin-right: 0px;
  }

  .profile-pic {
    float: right;
    width: 40%;
    clear: right;
  }

  header p {
    float: left;
    width: 55%;
    text-align: left;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    float: left; 
    width: 33%;  
  }

  .skills-section {
    clear: both;
  }

  .contact-details {
    width: 60%;
  }

  .top {
    display: none;
  }

  .full {
    display: inline-block;
  }

  /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}



